<!DOCTYPE html>
<html lang="Pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="wiewport" content="width=device-width, initial-scale=1.0">
        <title>Proffy | Sua plataforma de estudos online</title>

        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/cadastro.css">
        <!-- <link rel="stylesheet" href="/styles/partials/header.css"> -->

        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    </head>
<body class="cadastro-sucesso">
    <header>
        <div class="top-bar-container">
            <a href="/">
                <img src="images/icons/back.svg" alt="Voltar">
            </a>
        </div>
    </header>
    
    <div class="container">
        <img src="/images/icons/success-check-icon.svg" alt="">
        <h2>Cadastro Salvo!</h2>
        <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>
            Agora é só ficar de olho no seu WhatsApp.</p>
        
        <div class="buttons-container">
            <a href="/">Acessar lista</a>
        </div>
    </div>

    <!-- <script>
         setTimeout(function() {
            window.location.href = ("/study" + queryString)
        }, 2000);
    </script> -->
</body>
</html>